@import "../../global.scss";

.portfolio {
  background-color: rgb(193, 255, 213);
  background-image: url('https://i.ibb.co/3TG1vLd/portfolio-back-20.png');

  // background-image: linear-gradient(180deg,rgb(255, 255, 255), rgb(143, 255, 168));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  

  h1 {
    padding-bottom: 20px;
    // margin-top: 10px;
    // margin-bottom: 20px;
    font-size: 50px;

    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    padding: 10;
    list-style: none;
    display: flex;
    align-items: center;


    @include mobile {
      width: 300vw;
      margin: 0px 0;
      height: 40px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    margin-top: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 400px;
      height: 260px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      transition: all 0.5s ease;
      cursor: pointer;
      overflow: hidden;
      object-fit: cover;
///////////////////
      // background-color: $mainColor;
      //   img {
      //     display: none;
      //     opacity: 0.2;
      //     z-index: 0;
      //   }
//////////////////////
      @include mobile {
        padding-top:15px;
        width: 300px;
        height: 160px;
        object-fit: cover;
        background-color: $mainColor;
        justify-content: space-between;

      }

      h3 {
        margin-top: 10px;
        font-size: 2vw;
        height: 20%;

        @include mobile {
          font-size: 16px;
        }
      }

      p {
        margin-top: 10px;
        font-size: 1vw;
        text-align: center;
        height: 70%;
        width: 90%;
        align-self:center;

        @include mobile {
          font-size: 10px;
          align-self:center;
        }
      }

      .git {
        text-decoration: none;
        z-index: 1;
        color:rgb(255, 255, 255);
        margin-bottom: 20px;
      }

      @media screen and (min-width: 1220px) {
        p {
          font-size: 70%;
        }
      }
      
      img {
        width: 500px;
        height: 300px;
        object-fit: cover;
        z-index: 1;
        overflow: hidden;
        margin: auto;
        
        @include mobile {
          display: none;
        }
      }

      .titleText {
        display:none;
        
        @include mobile {
          display: block;
        }
      }
      .description {
        display: none;
        
        @include mobile {
          display: block;
        }
      }
      .git {
        display: none;
        
        @include mobile {
          display: block;
        }
      }


      &:hover {
        background-color: $mainColor;
        a {
          display:block;
          
        }
        img {
          display:none;
          opacity: 0.2;
         
        }
        .titleText {
          display: flex;
         
        }
        .description {
          display: flex;
          align-self:center;
        }
        .git {
          display: flex;
        }
      }
    }
  }
}
